.btnstaff {
  color: #2563eb;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  transition: all 0.3s;
  letter-spacing: 0.05em;
}

.btnstaff:focus,
.btnstaff:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.btnstaff:focus:after,
.btnstaff:hover:after {
  width: 100%;
  left: 0%;
}

.btnstaff:after {
  content: '';
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #2563eb;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
