.loginbg{
  background-image: url('/src/Images/staff/urbansoft.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: zoomBackground 20s ease-in-out infinite;
}
