@import 'tailwindcss';

:root {
  --font-family-base: 'Montserrat', sans-serif;
  --font-weight-regular: 400;
  --font-weight-black-italic: 900;
}

.titulo {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-black-italic);
  font-style: italic;
}

.cuerpo {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInFromLeft 0.8s ease forwards;
}

.slide-in-right {
  animation: slideInFromRight 0.8s ease forwards;
}
